include README.md
include LICENSE
include CHANGELOG.md
include pytest.ini
recursive-include cli *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .git*
recursive-exclude * tests
recursive-exclude * *.egg-info

